# Project exclude paths
/.idea/
/.vscode/
.DS_Store
/notification/.idea/
/notification/.vscode/
/notification/.DS_Store
/productcatalog/.idea/
/productcatalog/.vscode/
/productcatalog/.DS_Store
/user/.idea/
/user/.vscode/
/user/.DS_Store
